<div class = "form">
    <div class = "mb-2 words">Нерсесян Лёва ИУ6-34Б<br>
    Билет N 21.
Дан массив чисел arr_y. Определить среднее арифметическое значение положительных элементов массива и поместить его на место первого
кратного 7 элемента.<br> P. S. Если нет элемента кратного 7, то выводим начальный массив без изменений. 0 кратен 7.</div>
    <%= form_tag("/calc/output", :method => "get") do %>
        <div class="mb-2 words">Array:</div>
        <%=text_field_tag(:val, "1 3 -6 4 9 7 16", class: "form-control mb-2", min:"-1000", max:"1000", placeholder: "Input a 1 to 1000", required: "required")%>
        <%= submit_tag "Start", class: "btn btn-light" %>
    <% end %>
</div>
